@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
/*font-family: 'Castoro', serif; */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;500;600;700;800&display=swap');
/*font-family: 'Encode Sans', sans-serif;*/
/*available weights: 400 -> 800 */

/* General */

body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}


.no-gutters {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Toasts */
#toast-div {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5000;   
}

#save-toast, #contributor-notice-toast, #first-toast {
    background-color: rgba(255,255,255,1);
}


/* Map */

#map { 
    height: 60vh; 
    width: 100%;
}

.leaflet-container {
    width: 100vw; 
    height: 100vh;
  }

/* Nodes.txt Preview */

#preview {
    box-sizing: border-box;
    padding: 10px;
    background-color: whitesmoke;
    width: 100%;
    height: calc(40vh - 50px);
    border: 1px solid gray;
    color: white;
}

#preview-text {
    height: calc(100% - 94.5px);
    overflow-y: scroll;
    font-size: 15px;
}

#preview-title {
    display: inline;
}

#update-prev-btn {
    float: right;
}

#save-btn {
    float: right;
    margin-right: 5px;
    margin-left: 5px;
}
/* Nodes Editor */
#editor-title {
    display: inline;
    margin-right: auto;
}

#search-input {
    display: inline-block;
    width: 200px;
    margin: 2.5px;
}

#editor {
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: calc(100vh - 50px); 
    border: 1px solid gray;
    color: white;
    overflow: hidden;
}

#option-container {
    display: flex;
    flex-direction: column;
    
    margin-left: auto;
}

#enforceBidir {
    display: none;
}

#editor-table-options {
    margin-left: auto;
}
.option {
    margin: 2.5px;
    width: max-content;
    height: max-content;
}

#table-wrapper {
    height: calc(100% - 86.333px);
    overflow: scroll;
    word-break: break-all;
}

.fixed {
    table-layout:fixed;
    
}
td { 
    width: 100px;
    height: 50px;
    
   
}

tr {
    overflow: hidden;
}


/* Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(109, 109, 109, 0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(235, 228, 228, 0.5); 
}

/* Map Options */
#map-options {
    

}

#mid-checkbox {
    margin-left: 2px;
    margin-right: 2px;

}
/*
#content {
    display: flex;
    flex-direction: row;
    height: 100%; 
    width: 100%;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 1s; 
    pointer-events: none;
}



#map {
    top: 0;
    bottom: 0;
    z-index: 0;
    height: 100%;
    width: 100%;
}
*/

.leaflet-popup {
    margin-bottom: 20px;
}

.leaflet-popup-content{
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: center;
}

